body {
    background: rgb(1,6,27);
    background: linear-gradient(90deg, rgb(0, 3, 14) 0%, rgba(0,0,0,1) 100%);
    color: white;
}

img {
    height: 300px;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    border-bottom: solid;
    border-width: 1px;
    border-color: transparent;
}

p {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 100;
}

button:hover {
    border-color: white;
}

h2 {
    font-family: 'Roboto';
    font-size: 60px;
}

#main {
    text-align: center;
    margin-top: 6%;
}